
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Todo list{% endblock %}-Index</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:500" rel="stylesheet">
    {% endblock %}
</head>
<body>
<header>
    <h1>Todo list</h1>
</header>
{% block body %}
    {% block todo %}
        {% set countNotDone = 0 %}
        {% for todo in todos if todo.done == false %}
        {% set countNotDone = countNotDone + 1 %}
        {% endfor %}
        {% if countNotDone > 0 %}
        <div id="display">
            <p>Todos : <span id="number todos">{{ countNotDone }}</span></p>
        </div>
        {% else %}
        <div id="display">
            <p>Nothing to do ! :)</p>
        </div>
        {% endif %}
    {% endblock %}

    {% block add %}
        {% include '_add_button.html.twig' %}
        {% set countDone = -1 %}
        {% for todo in todos if todo.done == true %}
        {% set countDone = countDone + 1 %}
        {% endfor %}


        <br /><a href="{{ path('todo_done_view') }}" id="done-view">Voir les tâches faites({{ countDone }})</a>
    {% endblock %}

    {% block list %}
        {% for todo in todos if todo.done == false %}
         <div class="displayTodo">
            <h3>{{ todo.title }}</h3>
            <p>{{ todo.content }}</p>
            <em>{{ todo.date|date("d/m/Y") }}</em>

            {% include '_done_button.html.twig' %}
         </div>
        {% endfor %}
    {% endblock %}
{% endblock %}


{% block javascripts %}{% endblock %}
</body>
</html>
